.overlayLoadingIndicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ui-kit-color-neutral-fore-low);
  opacity: 0.6;
}

.overlayLoadingIndicator svg > path {
  fill: var(--ui-kit-color-neutral-fore);
}
