.thumbnail {
  width: 100%;
  position: relative;
  border-radius: calc(var(--ui-kit-border-radius) / 2);
  cursor: pointer;
}

.thumbnail.active {
  outline: solid 2px var(--ui-kit-color-primary);
  outline-offset: var(--ui-kit-space-050);
}
